<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sed.inf.u_szeged.hu.androidiotsimulator">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MobIoTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.main.IoTSimulatorActivity"
            android:configChanges="orientation"
            android:label="@string/title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.cloud.CloudActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_cloud"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.device.DevicesActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_devices"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.device.DeviceSettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_device_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.cloud.CloudSettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_cloud_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.main.InformationActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_information"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
