<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sed.inf.u_szeged.hu.androidiotsimulator">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MobIoTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.phenomena.pgdevice.PGDeviceSettingsActivity"
            android:label="@string/title_activity_ppgdevice_settings"
            android:parentActivityName=".activity.phenomena.pgdevice.PGDeviceSettingsActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sed.inf.u_szeged.hu.androidiotsimulator.activity.phenomena.pgdevice.PGDeviceSettingsActivity" />
        </activity>
        <activity
            android:name=".activity.phenomena.pgdevice.PGDevicesActivity"
            android:label="@string/title_activity_pgdevices"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.phenomena.subject.SubjectInformationActivity"
            android:label="@string/title_activity_subject_information"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".activity.phenomena.subject.SubjectsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sed.inf.u_szeged.hu.androidiotsimulator.activity.phenomena.subject.SubjectsActivity" />
        </activity>
        <activity
            android:name=".activity.phenomena.subject.SubjectSettingsActivity"
            android:label="@string/title_activity_subject_settings"
            android:parentActivityName=".activity.phenomena.subject.SubjectsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sed.inf.u_szeged.hu.androidiotsimulator.activity.phenomena.subject.SubjectsActivity" />
        </activity>
        <activity
            android:name=".activity.phenomena.subject.SubjectsActivity"
            android:label="@string/title_activity_subjects"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.phenomena.population.PopulationSettingsActivity"
            android:label="@string/title_activity_population_settings"
            android:parentActivityName=".activity.phenomena.population.PopulationsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sed.inf.u_szeged.hu.androidiotsimulator.activity.phenomena.population.PopulationsActivity" />
        </activity>
        <activity
            android:name=".activity.phenomena.population.PopulationsActivity"
            android:parentActivityName=".activity.phenomena.simulation.SimulationDashBoardActivity"
            android:label="@string/title_activity_populations"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.phenomena.simulation.SimulationDashBoardActivity"
            android:label="@string/title_activity_simulation_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.phenomena.simulation.SimulationSettingsActivity"
            android:label="@string/title_activity_simulation_settings"
            android:parentActivityName=".activity.phenomena.simulation.SimulationsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sed.inf.u_szeged.hu.androidiotsimulator.activity.phenomena.simulation.SimulationsActivity" />
        </activity>
        <activity
            android:name=".activity.main.IoTSimulatorActivity"
            android:configChanges="orientation"
            android:label="@string/title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.cloud.CloudActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_cloud"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.device.DevicesActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_devices"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.device.DeviceSettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_device_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.cloud.CloudSettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_cloud_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.main.InformationActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_information"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.phenomena.simulation.SimulationsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_simulations"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>